* {
    box-sizing: border-box;
}
.topnav {
    background-color: rgba(46, 169, 130, 0.160);
    overflow: hidden;
    height: 60px;
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
   
}

.topnav a {
    float: left;
    display: block;
    color: #84806e;
    text-align: center;
    padding: 21px 30px;
    text-decoration: none;
    font-size: 14px;

}

/*cambiar color cuando se pasa por ensima*/
.topnav a:hover {
    background-color: white;
    color: rgba(46, 169, 128, 0.430);
}

/* cambiar el color en la pagina activa*/
.topnav a.active { 
    background-color: rgba(52, 133, 105, 0.156);
    color: white;
}


/*estilo pagina*/

body {
    background-color: #f5f1ede4;
}


.presentacion {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 4em 2em;
    text-align: center;
    color: rgba(46, 169, 128, 0.649);
    font-size: 1.2em;
    font-family: "Raleway", sans-serif;
    line-height: 2;
    letter-spacing: 2px;
    margin: 0 auto;

}

.presentacion img{
    max-width: 20%;
    margin: 0 auto;
    border-radius: 19%;
   
}

.presentacion p {
    max-width: 70%;
    margin: 0 auto;
}

.presentacion a {
    color: rgba(46, 169, 128, 0.8);
    text-decoration: underline;
    transition: color 0.3s ease;
}

.contacto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2em 2em;
    color: rgba(46, 169, 128, 0.649);
    font-size: 1em;
    font-family: "Raleway", sans-serif;
    line-height: 2;
    margin: 0;
}

.contacto p {
    padding: 0 10px;
}

/* Media query para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    .presentacion {
      display: block; /* Cambia el diseño a bloque */
      text-align: center; /* Centra el contenido */
    }
  
    .imagen {
      margin-right: 0; /* Elimina el margen a la derecha */
      margin-bottom: 10px; /* Añade margen inferior entre imagen y texto */
    }
  }