* {
    box-sizing: border-box;
}

body{
    background-color: #f5f1ede4;
}

.topnav {
    background-color: rgba(46, 169, 130, 0.160);
    overflow: hidden;
    height: 60px;
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
   
}

.topnav a {
    float: left;
    display: block;
    color: #84806e;
    text-align: center;
    padding: 21px 30px;
    text-decoration: none;
    font-size: 14px;

}

/*cambiar color cuando se pasa por ensima*/
.topnav a:hover {
    background-color: white;
    color: rgba(46, 169, 128, 0.430);
}




header {
    text-align: center;
    padding: 32px;
    font-family: "Dancing Script", cursive;
    color: #84806e;
}
.filas {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 90%;
    padding: 0 10px;
    margin: 0 auto;
}

.columnas {
    -ms-flexbox: 25%;
    flex: 25%;
    padding: 0 4px;
    
}

.columnas img {
    margin-top: 8px;
    vertical-align: middle;
    
}

.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: rgba(46, 169, 130, 0.160);
    cursor: pointer;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
}

.btn:hover {
    background-color: #ddd;
  }

/* ---------------- pagina de contacto -------------------------------- */
.titulo-contacto {
    text-align: center;
    padding: 32px;
    font-family: "Dancing Script", cursive;
    color: #84806e;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 70%;
    padding: 50px 0;
    border-radius: 5px;
    background-color: rgba(46, 169, 130, 0.160);
    text-align: center;
}



input[type="text"],
input[type="email"],
textarea {
    width: 60%;
    height: 40px;
    padding-left: 15px ;
    margin: auto;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
}

textarea {
    resize: vertical;
    min-height: 150px;
    padding-top: 15px;
}

.btn-form {
    width: 50%;
    margin: auto;
    padding: 10px 20px;
    background-color: #84806e;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    font-family: "Raleway", sans-serif; ;
}

/*--------------------------contacto--------------------------------------*/
.contacto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2em 2em;
    color: rgba(46, 169, 128, 0.649);
    font-size: 1em;
    font-family: "Raleway", sans-serif;
    line-height: 2;
    margin: 0;
}

.contacto p {
    padding: 0 10px;
}